   <!-- Footer-->
        {{!-- <footer class="bg-gradient-primary-to-secondary text-center py-5">
            <div class="container px-5">
                <div class="text-white font-alt">
                    <div class="mb-2">&copy; Forest Hill US LLC 2022. All Rights Reserved.</div>
                    <a href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a href="#!">FAQ</a>
                </div>
            </div>
        </footer> --}}

<!-- Footer -->
<footer class="bg-dark text-center text-white">

  <!-- Section: Social media -->
    <section class="mb-2 py-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

    </section>
    <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="mb-0 py-0">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Forest Hill US LLC
          </h6>
          <p>
            Experts in hospitality, property management, short term rentals, and real estate.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Properties
          </h6>
          <p>
            <a href="/moderncoralvilla" class="text-reset">Modern Coral Villa</a>
            
          </p>
          <p>
            <a href="/luxurycoralvilla" class="text-reset">Luxury Coral Villa</a>
          </p>
     
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/faq" class="text-reset">FAQ</a>
          </p>
          <p>
            <a href="/privacy" class="text-reset">Privacy</a>
          </p>
          <p>
            <a href="/terms" class="text-reset">Terms</a>
          </p>
       
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Fort Lauderdale, FL, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            luxurymodernrentals@yahoo.com
          </p>
          <p><i class="fas fa-phone me-3"></i><i class="fas fa-flag-usa me-3"></i> 954-504-0228</p>
          <p><i class="fas fa-phone me-3"></i><i class="fab fa-canadian-maple-leaf me-3"></i> 416-567-0467</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

    <div class="text-reset fw-bold">   &copy; Forest Hill US LLC 2024. All Rights Reserved.</div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->