
<nav class="autohide navbar navbar-expand-lg fixed-top navbar-light shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="/"> 
            <img src="/IMAGES/logo.png" alt="" width="300" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle me-lg-3" href="#" id="propertiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Properties
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="propertiesDropdown">
                        <li><a class="dropdown-item" href="/moderncoralvilla">Modern Coral Villa</a></li>
                        <li><a class="dropdown-item" href="/luxurycoralvilla">Luxury Coral Villa</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" onclick="window.location.href = '/#contact';">
                <span class="d-flex align-items-center">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Contact</span>
                </span>
            </button>
        </div>
    </div>
    <script src="/JS/autohide.js"></script>
    <script src="/JS/navigate.js"></script>
</nav>
