
<body>
  

    <main>
          <header class="mt-5 pt-2 mb-2 pb-2 px-2 text-center">
        <!-- Your site's header content goes here -->
        <h1>Frequently Asked Questions</h1>
        <p></p>
    </header>
     


        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5 style="margin-left: 50px;">What are checking in and out times?</h5>
            <p style="margin-left: 50px;">Check-in after 4:00 p.m. Checkout before 10:00 a.m.</p>
            <!-- Add more content as needed -->
        </section>


              <section class="mt-2 pt-2 mb-2 pb-2 px-2">
          <h5 style="margin-left: 50px;">How many people can stay in the house?</h5>
            <p style="margin-left: 50px;">10 guests maximum.</p>
            <!-- Add more content as needed -->
        </section>

       

    

              <section class="mt-2 pt-2 mb-2 pb-2 px-2">
           <h5 style="margin-left: 50px;">Are pets allowed during our stay?</h5>
            <p style="margin-left: 50px;">No pets allowed.</p>
            <!-- Add more content as needed -->
        </section>

    <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5 style="margin-left: 50px;">Are parties or events allowed during our stay?</h5>
            <p style="margin-left: 50px;">No parties or events allowed. Quiet hours 9:00 p.m.–8:00 a.m.</p>
            <!-- Add more content as needed -->
        </section>

            <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5 style="margin-left: 50px;">Do we have to sign a contract in order to stay at the propery?</h5>
           <p style="margin-left: 50px;"> After pre-approval, the Guest will need to fill out a contract. The contract should be reviewed, signed, and sent back to the host with a copy of ID. There is no exception to this rule.</p>
            <!-- Add more content as needed -->
        </section>

          <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5 style="margin-left: 50px;">Is there an age requirement to book my stay?</h5>
           <p style="margin-left: 50px;">Minimum Age requirement to rent this property is 26 years old. </p>
            <!-- Add more content as needed -->
        </section>
          <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5 style="margin-left: 50px;">Do we need to take out garbage?</h5>
           <p style="margin-left: 50px;">Guests are responsible for adhering to proper garbage routines including sorting and rolling garbage and recycling to and from the curb during their stay. </p>
            <!-- Add more content as needed -->
        </section>

  <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5 style="margin-left: 50px;">Are there any security cameras at the property?</h5>
           <p style="margin-left: 50px;">Please note there are exterior security cameras on the property that will be on during guests stay. </p>
            <!-- Add more content as needed -->
        </section>

  <section class="mt-2 pt-2 mb-2 pb-2 px-2">
         
            <p style="margin-left: 50px;">If you have any questions, please contact us at luxurymodernrentals@yahoo.com or via contact form.</p>
            <!-- Add more content as needed -->
        </section>

    </main>


</body>
