


<body>
  

    <main>
          <header class="mt-5 pb-1 text-center">
        <!-- Your site's header content goes here -->
        <h1>Terms and Conditions</h1>
    </header>
        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h3>Direct Booking Cancellation Policy:</h3>
            <ul>
                <li>90% refund of amount payable if you cancel at least 14 days before check-in.</li>
                <li>50% refund of amount payable (minus the service fee) if you cancel at least 7 days before check-in.</li>
                <li>No refund if you cancel less than 7 days before check-in.</li>
            </ul>
        </section>

        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h3>TERM RENTAL AGREEMENT TERMS & CONDITIONS:</h3>
            <p>Guest hereby agrees to and accepts all of the covenants, limitations, agreements, conditions and terms set forth herein.</p>
            <!-- Add more content as needed -->
        </section>

        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>1 - GENERAL:</h5>
            <p> In consideration of the following terms, covenants, agreements, limitations and conditions entered into by the parties hereto, Owner rents to Guest the Property described in the electronic booking reservation and electronic property listing of even date herewith (“Reservation”) which Property shall be occupied by the number of guests represented in said Reservation by Guest.  It is agreed and understood that said property shall be only and exclusively for the purpose of a transient short-term/vacation rental for the term set forth in the Reservation. It is agreed and understood that Rental Agent shall be the agent for the processing, acceptance and holding of payments and security deposits.  It is agreed and understood that rates, terms and applicable taxes shall be subject to change without prior notice and prior to booking being confirmed. Please note that booking shall be considered confirmed once the first payment is made, payment is cleared through vacation rent payment and payment is acknowledged and received by Owner and/or Rental Agent.
Guest agrees that no more than the maximum persons advertised on the Electronic Rental Listing shall be permitted on the Property during the Rental Term without prior approval of the Owner, all of whom shall comply with the conditions and restrictions imposed upon Guest under this Agreement.</p>
            <!-- Add more content as needed -->
        </section>

        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>2 - CONDITION AND USE OF PROPERTY:</h5>
            <p>The subject Property shall be delivered to Guest in its “as is” condition.  Guest shall use the Property for residential purposes only and in a careful, respectful and prudent manner so as to prevent any loss, damage, injury, destruction, or mistreatment of the Property.  Guest further agrees to save and keep the Property in a clean, orderly and sanitary condition at all times during Guest’s occupancy. Guest warrants and represents that Guest, family members and Guest’s invitees shall observe all terms, covenants and conditions of this Agreement, including, but not limited, keeping the Property in good order and appearance and the conduct of the Guest, the Guest’s family and the Guest’s invitees. Owner shall use reasonable efforts to ensure that the various amenities as described in the Reservation are in working order. In the event any of the amenities, equipment, machinery or appliances as set forth in the Reservation are inoperable or not functioning properly, Owner shall make all reasonable efforts to correct any such issues in a timely manner.  However, given the short-term nature of this Agreement, it is agreed and acknowledged that none of the foregoing operational or functionality issues set forth in this paragraph shall serve as a basis for Guest to offset or deduct from the payments made or agreed to be made pursuant to this agreement, nor shall Guest dispute charges made to its credit card or instruct its credit card provider or banking institution to deny or withhold payment to Owner due to actual or perceived operational or functionality issues.   
If Guest experiences any problems whatsoever with the Property during their stay, please contact Rental Agent immediately and rental agent will make all reasonable efforts to correct any of the operational or functionality issues as quickly and as practically as possible.  Guest, Guest’s family and/or invitees shall refrain from making any loud noises or disturbances.  Guest, Guest’s family and/or invitees agree not to disturb, annoy, endanger, or inconvenience neighbors in any way; nor shall Guest, Guest’s family and/or invitees use the Property for any immoral, offensive or unlawful purposes, or violate any law, community association rule, bylaw, or covenant; or violate any local, city, or county ordinance;   or commit waste on or about the Property; or cause a nuisance on or about the Property.  A breach of any of the foregoing shall constitute a breach of the lease and shall be grounds for immediate removal without notice pursuant to this Agreement and Florida Statutes.  Guest acknowledges that use of Property and amenities including but not limited to hot tubs, pools, spas, high chairs, cribs or pack and play equipment, air mattresses, fireplaces, decks, docks and the like may be potentially dangerous and involve potential risks if improperly used, particularly with regard to children and such use is entirely at the Guest’s own initiative, risk and responsibility. Guest agrees to diligently supervise any children at all times residing on the Property during the Rental Term as set forth in the Reservation.  You are reminded to exercise care as to your personal safety, and the safety of your companions, guests and invitees as by execution hereof, you assume all liability with regard to any injuries, damages or harm to person or property during your stay.</p>
            <!-- Add more content as needed -->
        </section>

        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>3 - RENT PAYMENT & SECURITY DEPOSITS:</h5>
            <p>Upon your electronic acceptance of the Reservation, this Agreement shall become fully executed and as such, you will be bound by all the terms, conditions, limitations, agreements, and covenants contained herein and in the electronic reservation. It is agreed and understood that the initial security deposit and full payment for the Reservation is due at the time of electronic booking.  Any balance of Rent due shall be paid at least 30 days prior to Guest arrival unless the subject property will be occupied by Guest within 30 days or less following the making of the Reservation in which case the entire rental amount shall be due. All correspondence by and between owner and rental agent and Guest shall be via electronic means. Guest will automatically receive an invoice when payments are due; so please ensure that the email address you provide for the Reservation is accurate.  All payments shall be processed through vacation rent payment with both credit card any check options available. Please note that there is a $50 charge for all returned checks and chargebacks plus the cost of collection.  By execution hereof, guest hereby agrees, understands and acknowledges the use of the rental agreement acceptance and payment processing system through vacation rent payment processing service or other service acceptable to owner without an original signature. In light of the foregoing, it is agreed and understood that payment authorization cannot be revoked once payment is made in the agreement is accepted.It is agreed and understood that the Rental Agent shall hold the security deposit on behalf of Owner in a non-interest-bearing account. Owner shall hold said security deposit to secure Guest’s performance pursuant to this Rental Agreement and applicable law and regulations. Owner may, in its sole and absolute discretion, apply said deposit to any damages caused by Guest, Guest’s family, friends, or invited guests, Guest’s agents or employees, including without limitation, unpaid rent, telephone charges, utilities, any excessive cleaning required above and beyond standard post-tenancy cleaning, and any other damages. Upon the vacating of the premises and provided the property is left in good, clean, broom swept condition, the security deposit refund shall be automatically issued 7 days following the date of checkout.  In the event that owner makes a claim against the security deposit for a breach of the terms and conditions hereunder, the balance of the security deposit, if any, or portion thereof, will be issued to Guest account 7 days following checkout.  It is agreed and understood that security deposit refunds or portions thereof shall be issued electronically and not by physical check.  In the event owner makes a claim on the security deposit, the parties hereto agree that said claim, at the option of owner, may be made via electronic mail.
Guest shall return the Property and all personal property, equipment, machinery and appliances included therewith to Owner at check-out time in the same condition as when Guest checked in, except for reasonable wear and tear expected for a short-term rental. Any damaged or missing personal property shall be deducted from the security deposit at replacement value. Guest shall immediately notify Owner upon occupancy if any of the furnishings, appliances, machinery, equipment or other personal property are missing, damaged or not functioning as listed in the electronic listing and displayed in the electronic listing photographs. Otherwise, Guest shall be responsible for maintaining and returning said furnishings, appliances, machinery, equipment or other personal property to Owner at the end of the subject Rental Agreement in the same condition it was in upon occupancy, except reasonable wear and tear expected for a short-term rental.  </p>
            <!-- Add more content as needed -->
        </section>

        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>4 - CANCELLATIONS:</h5>
            <p>Reservations may be cancelled by Guest.
Website Cancellation Policy:
<ul>
   
<li> 90% refund of amount payable if you cancel at least 14 days before check-in. </li>
<li>  50% refund of amount payable (minus the service fee) if you cancel at least 7 days before check-in.</li>
<li>  No refund if you cancel less than 7 days before check-in.</li>
</ul>
In the event of a state emergency which includes but is not limited to storms, Owner reserves the right at Owner’s discretion, to refund on a case by case basis only, part of any deposit, rent or fees paid, upon notice of cancellation by Guest. A 3% transaction fee for refunds applies to all reservation cancellation irrelevant of circumstance. Any deposit, rent or fees retained by Owner pursuant to this provision shall be agreed upon liquidated damages, consideration for the execution of this Rental Agreement and in full settlement of all claims.  Due to the unpredictability of emergency situations it is recommended, but not mandatory that a guest can purchase travel insurance that would provide reimbursement for funds paid.</p>
            <!-- Add more content as needed -->
        </section>

 <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>5 - CHECK IN AND CHECK OUT:</h5>
            <p>It is agreed and understood that check in time shall be defined as 4:00 PM on the date of arrival and checkout time shall be defined as 11:00 AM on the day of departure.  The Rental Period begins at the 4:00 PM Check –In time on the day of arrival and shall terminate at 11:00 AM on the day of departure unless prior arrangements have been made in advance. Early check-in and late check-out are based on availability and can be requested via email 3 days prior to arrival.  In the event owner allows an early Check-In prior to 4:00 PM on the date of arrival, an additional charge may apply.  In the event owner allows a Late Checkout which shall be defined as after 11:00 AM but before 3:00 PM, an additional minimum charge of $100 shall apply.   It is agreed and understood that any Checkout after 3:00 PM, but prior to 12:00 AM will incur an additional charge equal to one night plus sales tax.   Unlike a hotel with a large cleaning staff onsite, Rental Agent must coordinate all cleanings well in advance of the vacating of the premises, and as such, any deviation from the agreed-upon check-in and checkout times at the time the electronic reservation is made, may require the expenditure of additional time and fees to Owner and/or Rental Agent all of which shall be charged to Guest should owner and/or rental agent be required to expend additional time and/or fees in accommodating guest for late for early check ins or check outs. 
The Owner also incurs extra expenses related to added guest use of the home including utilities, wear and tear, liability and maintenance.  If a guest attempts to check-in before or check-out after the time agreed-upon time when the electronic reservation was made and without receiving the prior written approval from Rental Agent and Owner, Guest shall be liable for additional rental charges, applicable fees, sales tax and/or additional cleaning fees a in addition, Guest’s security deposit shall, at the option of Owner, be forfeited and owner, at its option, may seek additional damages if necessary.   We ask our Guests to understand that non-compliance with this policy impacts other guest stays and has been adopted in accordance with check-in and check-out policies of many local hotels and vacation rentals.  If Rental Agent takes a new reservation which conflicts with an approved early check-in or late check-out, associated fees paid will be refunded to Guest and normal check-in and check-out times will be followed. There are no exceptions to this check-in and check-out policy. </p>
            <!-- Add more content as needed -->
        </section>


<section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>6 - ASSIGNMENT OR SUBLEASING:</h5>
            <p>Assignment and subleasing are hereby prohibited.  Guest shall not be permitted under any circumstances to assign this Agreement nor shall Guest be permitted to sublease any portion of the Property.  Guest shall also be prohibited from permitting anyone other than the permitted Guests, the Guest’s family members or invitees to occupy the Property.  It is agreed and understood that all Guests, the Guest’s family members and the guests and invitees must be properly registered with the Rental Agent prior to taking possession. </p>
            <!-- Add more content as needed -->
        </section>

<section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>7 - CLEANLINESS OF PROPERTY:</h5>
            <p>The subject Property must be kept in good, clean and sanitary condition throughout the Guest’s occupancy of same.  It is agreed and understood that the subject Property is professionally cleaned and inspected before and after each rental to ensure that Guest has a clean, comfortable and safe stay.  Guest agrees that any cleanliness issues noticed upon arrival shall be reported to the Rental Agent within no later than four (4) hours after Check-in.  Provided that Guest notifies the rental agent within the foregoing period of time, Rental Agent will use reasonable efforts to inform the cleaning service to address the cleaning issues at no additional expense to the Guest.  However, please note that if cleanliness issues are not reported within the foregoing prescribed time period, Owner and Rental Agent shall assume that the Property is in satisfactory condition. By execution hereof, Guest hereby agrees that during Guest’s occupancy of the Property, Guest shall keep the Property including the yard, decks, pool area, barbeque area, dock areas, balconies, terraces, common areas, if applicable, front, rear and side yards clean, sanitary, and free and clear of trash, debris, garbage, and any other waste.  Guest agrees to dispose of all garbage, waste and debris in the appropriate trash receptacles provided on the Property.  Guest shall be provided with garbage collection days during their stay which information shall be contained in the check-in instructions.  Guest further agrees to place trash containers on the curb for pickup the night before taking care not to overload the containers with trash.  Please note further that since Florida is located in a warm, humid and tropical climate, certain bugs, ants, insects and other animals may not be avoided.  As such, Guest agrees, understands and acknowledges that the presence of these bugs, ants, insects and other similar type animals or animals which are endemic to the State of Florida, including, but not limited to raccoons, iguanas and alligators shall not be grounds for the cancellation of the reservation, or a reduction in the amounts paid or agreed to be paid.  By execution hereof, Guest agrees to assume all risks associated with the foregoing and furthermore, Guest specifically agrees to hold the Owner and Rental Agent harmless from any and all liability related to any nuisance, damages, personal injury or death caused by any of the foregoing.   Although the Property is treated periodically as part of a pest and termite control program, and is cleaned after each rental, it is agreed and understood that certain bugs, and ants are unavoidable.</p>
            <!-- Add more content as needed -->
        </section>

<section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>8 - DAMAGE AND THEFT:</h5>
            <p>Guest hereby agrees that if upon taking possession Guest discovers any damages, inoperable equipment or machinery, broken glass, or any general maintenance issues, (collectively referred to as “Damage Issues”), Guest agrees to report any such Damage Issues to the Rental Agent within no later than four (4) hours after Check-In.   It is agreed and understood that if Guest fails to report the Damage Issues within the foregoing prescribed time, Owner and Rental Agent shall assume that the Property as delivered is satisfactory to Guest.  In the event that any Damage Issues to the Property  occurs during the Rental Term (including linens), Guest agrees to immediately inform the Rental Agent and thereafter, Guest further agrees to fully cooperate with Rental Agent in immediately providing any and all reasonable and necessary information for the submitting of an insurance claim or for the preparation of a damages report to Owner.  It is agreed and understood that depending on the particular facts and circumstances of the damages and the cause of same, claims may, at the sole and absolute discretion of Owner and/or Rental Agent, be filed against Deposits and, if applicable, Damage Protection Insurance, Guest’s Insurance and/or against Guest personally.  All items found within the home including but not limited to electronics, linens, supplies and furnishings are the sole and exclusive property of the Owner and in some cases Rental Agent.  It is agreed and understood that any damages or Damage Issues as defined hereunder caused by Guest, Guest’s family members, and/or Guest’s Invitees shall be the direct responsibility of Guest and as such, Owner and Rental Agent reserve the right to pursue legal action against Guest, Guest’s family members, and/or Guests Invitees if Owner and/or Rental Agent determine that any items of personal property are missing or stolen or if any of Owner’s or where applicable, Rental Agent’s personal property is missing, stolen or damaged. </p>
            <!-- Add more content as needed -->
        </section>

<section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>9 - LOCKED COMPARTMENTS:</h5>
            <p>Locked cabinets, closets and compartments are not for Guest access and the contents therein are for Owner and Rental Agent use and access only.  Guest agrees to refrain from accessing any locked compartments during their stay. </p>
            <!-- Add more content as needed -->
        </section>

        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>10 - SINGLE FAMILY HOMES WATERFRONT PROPERTY:</h5>
            <p>If applicable, boats docked at waterfront property are private property and under no time or circumstance are they to be boarded, tampered with or damaged. Guests who do not adhere to this policy may be subject to legal action by not only the owner of the subject boat or water vessel, but also by Rental Agent or if the vessel is owned by someone other than the Owner hereunder, then also by the Owner.  In addition, any Guest who fails to adhere to this policy may also be prosecuted criminally to the fullest extent of the law.  It is agreed and acknowledged by Guest that Boat owners, their crew and their associates may be granted access to the boat around the side of the home as to not disturb guests.   </p>
            <!-- Add more content as needed -->
        </section>

          <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>11 - PET POLICY: </h5>
            <p>Generally, no pets of any kind are allowed.  However, in the event the online Property listing indicates that said Property allows pets, Guest shall be required to notify Rental Agent of their intention to bring a pet onto the Property.  In the event that a pet is permitted by Owner, Guest is required to provide, in writing and at least three (3) days in advance of taking possession of the Property, the weight, breed and general description of the pet or pets.  Guest shall also be required to provide proof of vaccination, registration and that all required shots have been given to the pet or pets. In addition to the foregoing, Guest shall also be responsible for remitting an additional non-refundable pet fee in the amount of $35 per day of occupancy plus tax. Please note that the amount of the fee shall be subject to take change within the sole and absolute discretion of owner and/or rental agent prior to booking is confirmed. In addition to the foregoing, Owner and Rental Agent reserve the absolute right to deny any pet or pets stay in the Property for any reason or no reason whatsoever.  It is further agreed and understood that certain pets, including, but not limited to, pit bull dogs, pigs and/or other undesirable or dangerous animals shall not be permitted and the prohibition of same shall be within the sole and absolute discretion of Owner and/or Rental Agent. There shall be a maximum of two (2) pets per Property allowed.  Guest pets must be treated for fleas and ticks prior to arrival in addition to having proper vaccinations.  All Guests agree to ensure that all pet waste and excrement shall be picked up and placed in a tightly tied bag and disposed of in the proper outside trash receptacle.  It is agreed that pets shall not be allowed on the furniture and all pet hair must be cleaned up prior to departure. A $250 fee will be deducted from the refundable deposit if there is any report of pet hair on bedding and sofas. Guest pets must be leashed at all times when outside of the Property and under no circumstances are Guest pets allowed on the beach. The violation of any terms of this pet policy subjects the guest to additional fines or termination of the Rental Term. Guest pet policies and Property availability are subject to change per manager, owner, city, county or community association rules and regulations at any time.  </p>
            <!-- Add more content as needed -->
        </section>

         <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>12 - SECURITY CAMERAS: </h5>
            <p>By signing this agreement, guests are acknowledging that there maybe security cameras on the exterior of the property and that they are not to be tampered with or covered at any time throughout their stay.  Any violation to this clause can result in the loss of security deposit paid and possible additional  legal action by Rental Agent and/or Home Owner. </p>
            <!-- Add more content as needed -->
        </section>

          <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>13-ENTRY AND INSPECTION:  </h5>
            <p>Rental Agent reserves the right to enter the Property at reasonable times and with reasonable advance notice for the purposes of inspecting the Property or showing the Property to prospective purchasers, renters or other authorized persons.  If Rental Agent has a reasonable belief that there is imminent danger to any person or property, Rental Agent may enter the Property without advance notice. </p>
            <!-- Add more content as needed -->
        </section>

            <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>14 - UNAVAILABILITY OF PROPERTY:  </h5>
            <p>In the event the Property is not available for use during the Rental Term due to reasons, events or circumstances beyond the control of Rental Agent, Rental Agent will apply due diligence and good faith efforts to locate a replacement property that equals or exceeds the Property with respect to occupancy capacity, location and value that meets the reasonable satisfaction of the Guest.  If such replacement property cannot be found and made available, Rental Agent shall immediately return all payments made by the Guest, whereupon this Agreement shall be terminated and Guest and Rental Agent shall have no further obligations or liabilities in any manner pertaining to this Agreement. </p>
            <!-- Add more content as needed -->
        </section>

    <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>15-GUEST COVENANTS AND CONDITIONS:  </h5>
            <p>The parties agree that the following are material covenants and conditions of this Rental Agreement, the breach of which shall result in immediate forfeiture by the Guest of the subject rental premises and if applicable, the Security Deposit, in accordance with applicable law:
Guest shall not damage the rental premises or any part thereof or any personal property or appurtenance therein or thereto, and if the premises, or any part thereof, or any personal property or appurtenance thereto are damaged, obstructed or rendered inoperable by the misuse or negligence of Guest, Guest’s guests, family, agents or employees, Guest shall pay the cost for repair or replacement of same immediately upon presentation by Owner of a bill for same.Guest shall comply with all applicable federal, state, and county local laws, rules, regulations and ordinances, if any, and Conditions of Guest’s Agreement which are attached hereto and are specifically incorporated herein and agreed to by Guest. Guest agrees not to commit waste or to use the rental premises or any appliances or appurtenances thereof or thereto for any disorderly or unlawful or offensive purpose. Guest who requests a forgotten item to be shipped will pay a $50 fee plus the cost of shipping.
Guest who loses or doesn’t return keys upon checkout will pay a charge of $50 per key plus the costs of hiring a locksmith to change the lock or re-key the lock if same should become necessary in the reasonable discretion of Rental Agent. Guest warrants and represents that Guest meet the minimum age requirement of 21 years old to rent the Property and an adult over the age of 21 will be staying at the Property for the full duration of the stay. Renter will be provided with an allotted amount of towels, linens, and toiletries upon arrival that will be used for the duration of their stay.   Washer/dryer is located within unit and can be used by renter during duration of stay as they see fit. </p>
            <!-- Add more content as needed -->
        </section>

          <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>15A-ADDITIONAL GUEST COVENANTS AND CONDITIONS SINGLE FAMILY HOMES: </h5>
            <p>No boat launched or stored at the rental premises shall be chartered to any person other than to the Guest registered pursuant to this Rental Agreement and it shall not be used for living-aboard, sleeping or overnight accommodations at the rental premises.
Watercraft, including a jet ski or waverunner, may be stored on a trailer in an approved parking place on the premises only if agreed to in writing by Owner or Rental Agent in advance. Trailers and Motorhomes may be stored in an approved parking place on the premises only if agreed to in writing by Owner or rental Agent in advance.Vehicles may be parked on the premises in approved parking places not to exceed maximum amount designated in the rental listing.  No parking is permitted on grass or on the street and all cars must be in the driveway. Any vehicles, trailers, or watercraft not identified in advance and agreed to by Owner or Rental Agent in writing shall be towed or removed from the premises at Guest’s expense. Guest understands that if a watercraft on trailer, trailer or motorhome is stored in an approved place it will reduce vehicle parking allowed per section 14-j of this agreement accordingly. Guest agrees not to charge any long distance telephone calls or other charges to the telephone, cable, satellite, or internet account(s) located at the rental premises. Guest agrees not to tamper with, damage or adjust pool and/or spa equipment including but not limited to adjusting temperature, removing pool vacuums (which remain in the pool for cleaning, water flow, heating and filter purposes) or changing timer and valve settings.  Heated pools are set between 82 and 85 degrees fahrenheit year round and spas are set between 99 and 102 degrees fahrenheit unless otherwise noted in the Reservation.  Pool condition (i.e. temperature, clarity, chemical balance and cleanliness) can fluctuate greatly with changes in climate or environmental factors out of the Owner and Rental Agent’s control.  The pool and/or spa is serviced weekly. This section applies only to homes with a pool and/or spa.  Please refer to electronic property listing for details on the presence of a pool and/or spa or lack thereof.
Upon checkout guest will place all trash in proper outdoor bins, place dirty dishes in the dishwasher and run cycle, raise air temperature to 76 degrees, lock all doors and place keys in lockbox if applicable.</p>
            <!-- Add more content as needed -->
        </section>

   <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>15B - ADDITIONAL GUEST COVENANTS AND CONDITIONS HOTEL/CONDO: </h5>
            <p>Renter will be responsible for any and all charges incurred while staying at the property including but not limited to local and long distance calls, charges for in room entertainment services, dining and entertainment.  Guest agrees to place a valid credit card upon checkin with reception (standard hotel practice) which will cover all guest charges.  If the charge account is not satisfied in full upon departure for whatever reason, the renter authorizes owner/manager to retain the held security deposit and the guest will be responsible for the balance due if any.
All reservations are subject to any and all fees including but not limited to, amenity, resort, valet, parking, etc., as required by the hotel.  Rates and prices are subject to change at the discretion of the hotel. Renter understands that the unit is not part of the hotel management program and is individually owned.  There is no daily cleaning service in room, however renter can request cleaning during the stay for an additional cost. All rooms and guests are subject to hotel policy changes which room owner and manager have no influence on.  Any changes do not constitute grounds for cancellation and owner and manager will not be held liable for hotel changes in policy.</p>
            <!-- Add more content as needed -->
        </section>

<section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>16 - HABITABILITY:  </h5>
            <p>In the event the premises become uninhabitable, due to damage from wind, fire, rain, storm surge, or any other cause, and the Owner, at his sole discretion, shall decide not to repair or rebuild the premises, the term of this lease shall end and rent will be prorated up to the time of the damage.</p>
            <!-- Add more content as needed -->
        </section>

<section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>17 - RADON GAS: </h5>
            <p>Pursuant to §404.056(8), Florida Statutes, Radon is a naturally occurring radioactive gas that, when it has accumulated in a building in sufficient quantities, may present health risks to persons who are exposed to it over time. Levels of radon that exceed Federal and State guidelines have been found in buildings in Florida. Additional information regarding radon and radon testing may be obtained from your public health unit.</p>
            <!-- Add more content as needed -->
        </section>

<section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>18 - ACCESS TO PREMISES: </h5>
            <p>Guest agrees to permit Owner or Owner’s agents to enter the rental premises or any part thereof at any reasonable time for the purpose of examining same, to make necessary repairs, and/or to protect any personal property from damage. Reasonable time for said entry, without further notice to Guest, shall be between the hours of 8:30 a.m.and 8:00 p.m., although the parties may agree to additional hours for Owner’s access. Owner or Owner’s Agent may also enter the rental premises with the consent of Guest, or when necessary in case of an emergency or when the Guest unreasonably withholds consent or access. Exterior service personnel including but not limited landscaping and pool service are granted access without prior notice. Interior service personnel will be granted access with the consent of Guest.</p>
            <!-- Add more content as needed -->
        </section>

        <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>19 - REMOVAL:</h5>
            <p>Guest acknowledges and agrees that Owner may remove or cause to be removed from the rental premises any Guest or guest who, while at the rental premises, illegally possesses or deals in controlled substances, violates any of the terms of this Rental Agreement, is intoxicated, profane, lewd or brawling, who indulges in any language or conduct which disturbs the peace and comfort of other guests or neighbors, or which constitutes a nuisance, or which injures the reputation, dignity or standing of the rental premises, or anyone who fails to make payment of rent at the agreed-upon rental rate and fees at the agreed-upon times, or anyone who fails to check-out at the agreed- upon time unless an extension of time is expressly agreed to by the Owner and the Guest prior to check out. Admission to and removal from the rental premises is not and shall not be based upon race, creed, color, sex, physical disability or national origin. Any notice to vacate may be given orally or in writing by Owner to Guest, and if in writing shall be as follows:    “You are hereby notified that this establishment no longer desires to entertain you as its guest, and you are requested to leave at once. To remain after receipt of this notice is a misdemeanor under the laws of this State.” </p>
            <!-- Add more content as needed -->
        </section>

 <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>20 - BREACH OF LEASE:</h5>
            <p>If any Guest who is asked to vacate early for failure to comply with the terms and conditions of this rental agreement or otherwise,  Owner shall, at the time notice is given, tender to the Guest the unused portion of the advance rent and fees payment without prorating any portion of the day that Guest is noticed to vacate. Owner may retain any security deposit without further notice as agreed upon liquidated damages, consideration for the execution of this Rental Agreement and in full settlement  of all claims, or Owner, at Owner’s option, may proceed at law with any damages claim. Any Guest who remains or attempts to remain in the rental premises after being requested to vacate shall be guilty of a misdemeanor of the second degree punishable in accordance with Florida law. If any person is illegally at the subject rental premises, Owner may call upon any law enforcement officer of this State for assistance. If the Guest is arrested, Owner shall employ all reasonable and proper means to care for any personal property which may be left at the rental premises by the guest; however, upon arrest, the Guest/guest shall be deemed to have given up any right of occupancy and to have abandoned such rights. </p>
            <!-- Add more content as needed -->
        </section>

 <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>21 - RISK OF LOSS - INDEMNIFICATION:</h5>
            <p>Guest agrees that Owner and Owner’s agents shall not be liable for any loss of or damage to any personal property in or on the Property or stored in rooms or places provided to Guest in connection therewith, nor shall Owner or Owner’s agents or employees be liable to Guest, Guest’s family, guests, invitees or agents for failure to repair or maintain any part of the rental premises or Property contained therein absent gross negligence. Guest further agrees that neither Owner, nor Owner’s agents or employees shall be liable for any damage to the personal property of the Guest, Guest’s family, guests, or agents arising from theft, vandalism, fire, water, rain, acts of God or government, interruption of utilities, acts of others or other third party or external causes whatsoever. 
Guest agrees that all personal property, furnishings, personal affects and other items brought into the Property by Guest or their permitted guests and visitors shall be at the sole risk of Guest with regard to any theft, damage, destruction or other loss and Rental Agent shall not be responsible or liable for any reason whatsoever. Whenever possible, valuables should be left secure and out of sight.  Rental Agent accepts no responsibility or liability for any loss or damage or alteration to the terms of your reservation caused by events beyond our control, including but not restricted to war, terrorist activity, civil commotion, flight delays, or cancellations, airport closures, loss of luggage, adverse weather conditions, fire, flood, or industrial dispute. Rental Agent cannot accept any liability for failure of public supplies such as water, electricity, Internet or breakdown of the air conditioning system nor for the consequences of the action or omissions of persons who may control or supply main services, or any actions taken in the vicinity of the property reserved, by any authority over which there is no control. Guest hereby covenants and agrees to indemnify and hold harmless Rental Agent and their agents, owners, successors, employees and contractors, officially or otherwise, from any and all costs, damages, liabilities, claims, legal fees and other actions initialed by Guest, permitted guests, visitors or agents, representatives or successors of Guest due to any claims relating to destruction of property or injury to persons or loss of life sustained by Guest or family and visitors of Guest in or about the Property including any common facilities, activities or amenities.  Guest expressly agrees to save and hold Rental Agent harmless in all such cases caused by the guests either intentionally or negligently and or caused by the negligence of the owners. Guest shall also be liable and indemnify Owner for attorney’s fees and court costs incurred by Owner in enforcing any of the terms, covenants or conditions of this Rental Agreement or which are sustained by Owner as a result of or arising from or during Guest’s subject occupancy and tenancy.</p>
            <!-- Add more content as needed -->
        </section>

         <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>22 - NO LIFEGUARD ON PREMISES: </h5>
            <p>No lifeguard is available on the premises. Guest shall use pool, water and dock with great care and in accordance with any posted rules. All children and elderly, frail adults using said pool, water or dock shall be constantly supervised by a responsible adult who can swim. If the pool, water, or dock are equipped with any safety features such as a fence or other pool or water area barrier, a pool cover, a door latch or a door or window alarm, Guest shall be responsible for correctly operating and using said safety device every time the pool, water area or dock is used. Any use of said pool(s), water area or dock shall be at the sole risk of the user, the responsible adult supervising the user, and the Guest.</p>
            <!-- Add more content as needed -->
        </section>

    <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>23 - COMMUNITY ASSOCIATION RULES:  </h5>
            <p>Guest agrees to abide by the rules and regulations established by the community association.  By execution hereof, Guest acknowledges having read the rules and regulations of the community association and agrees to comply with same.  It is agreed that a breach of the rules and regulations of the community association shall be a breach of this Agreement.</p>
            <!-- Add more content as needed -->
        </section>

 <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>24 - SMOKING: </h5>
            <p>Smoking is not allowed in any of our properties. Smoking is not allowed outside by any open window/door. Smoking is permitted on balconies or patios as long as the doors and windows are closed. </p>
            <!-- Add more content as needed -->
        </section>

         <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>25 - ATTORNEYS FEES – VENUE: </h5>
            <p>The parties agree that the prevailing party in a suit commenced to enforce the terms, covenants, conditions and agreements contained within this lease shall be entitled to reasonable attorney’s fees and costs.  The venue for any legal action, other than matters which are required to be filed in the county in which the property is located, shall be Broward County and the laws of the State of Florida shall apply. </p>
            <!-- Add more content as needed -->
        </section>

     <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>26 - ELECTRONIC SIGNATURES – BINDING EFFECT: </h5>
            <p>The parties hereto agree that this agreement is made effective by and shall be governed by both the Federal Electronic Signatures and Global and National Commerce Act as well as the Florida Uniform Electronic Transaction Act (“Electronic Signature Statutes”).  It is agreed and acknowledged that although this agreement is not being physically signed by the parties that pursuant to the foregoing Federal and Florida statutes the subject agreement and all provisions, obligations and duties contained therein are nonetheless binding upon the parties and enforceable under the laws of the State of Florida.  Pursuant to the foregoing statutes, the agreement by and between the parties is considered an Automated Transaction as defined pursuant to Florida Statute 668.50(2)(b) and this agreement is considered a fully binding and effective Contract pursuant to Florida and Federal law. </p>
            <!-- Add more content as needed -->
        </section>

          <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>27 - DAMAGE PROTECTION INSURANCE:  </h5>
            <p>If applicable, the purchase of Rental Unit Damage Protection Insurance covers unintentional damages to the rental unit interior/exterior that may occur during a Guest stay, provided they are disclosed to management pursuant to the disclosure requirements set forth hereunder and the disclosure is made prior to check-out. The policy will pay a maximum benefit as indicated when the policy is purchased by the Guest during the electronic reservation and payment process. If, during a Guest stay at one of our Rental Properties, a Guest causes any damage to real or personal property of the unit as a result of inadvertent acts or omissions, the Insurer will reimburse Rental Agent for the cost of repair or replacement of such property up to a maximum benefit.  However, Guest agrees to assume any and all liability for all amounts in excess of any insurance coverage including this damage protection insurance.  Certain terms and conditions apply. Full details of the Rental Unit Damage Protection coverage are contained in the Certificate of Insurance or Insurance Policy. By submitting payment for this plan, Guest authorizes and requests Travel Guard to pay directly to the Rental Agent as a loss payee any amount payable under the terms and conditions of the Rental Unit Damage Protection Insurance.  Guest also agrees to cooperate in full with both Travel Guard and Rental Agent through a claims process if necessary.</p>
            <!-- Add more content as needed -->
        </section>

           <section class="mt-2 pt-2 mb-2 pb-2 px-2">
            <h5>28 - MISCELLANEOUS: </h5>
            <p>Time is of the essence with regard to all time periods pertaining to this Agreement.  This Agreement shall be binding upon and for the benefit of the heirs, personal representatives, successors, and permitted assigns of Owner and Guest. Whenever used, the singular number shall include the plural or singular and the use of any gender shall include all appropriate genders. The agreements contained in the Agreement set forth the complete understanding of the parties and may not be changed or terminated orally. All questions concerning the meaning, execution, construction, effect. validity, and enforcement of this Agreement shall be determined pursuant to the laws of Florida. A facsimile copy or electronic transmission of this Agreement and any signatures hereon shall be considered for all purposes originals.</p>
            <!-- Add more content as needed -->
        </section>

  <section class="mt-2 pt-2 mb-2 pb-2 px-2">
         
            <p>IN WITNESS WHEREOF, the parties have executed this Agreement electronically on even date herewith and is made effective by and is in compliance with the Electronic Signature Statutes.</p>
            <!-- Add more content as needed -->
        </section>

    </main>


</body>

